#set($layout="view/back/common/layout/common_layout.htm")

<!-- 表单 begin -->
<div class="row-fluid">
	    <div style="margin:20px 20px;text-align:left;height:40px;">
		<form id="form1" action="$request.getContextPath()/sysmanage/logList.html">
		 <input type="hidden" name="currPage" id="currPage" value=""/>
		 <span style="font-size:15px;">用户名 ：</span><input name="username" id="username" class="m-wrap" style="height:35px;" value="$!username"/>
		 <span style="font-size:15px;">创建时间：
		 <input id="startTime" name="startTime" class="Wdate m-wrap" style="height:35px;" type="text" onclick="WdatePicker({maxDate:'#F{$dp.$D(\'endTime\')}'})" value="$!startTime"/>
                           至
         <input id="endTime" name="endTime" class="Wdate m-wrap" style="height:35px;margin-right:20px;" type="text" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'startTime\')}'})" value="$!endTime" />
		 </span>
		 <button id="" onclick="subform()" class="btn green"><i class="icon-search"></i> &nbsp;查&nbsp;&nbsp;询&nbsp;</button>
		</form>
		</div>
</div>
<!-- 表单 end -->
<!-- 表格 begin -->
<div class="portlet box" style="margin:0px;">
<div class="portlet-body">
<table class="table table-striped table-bordered  table-hover">
    <thead>
     <tr>
        <th>序号</th><th>用户名</th><th>资源名称</th><th>资源地址</th><th>IP</th><th>创建时间</th>
     </tr>
    </thead>
    <tbody>
      #foreach($log in $logList)
      <tr>
       <td>#set($no=($page - 1) * $size + $velocityCount) $no</td>
       <td>$!log.user_id</td>
       <td>$!log.log_name</td>
       <td>$!log.log_url</td>
       <td>$!log.ip</td>
       <td>$!log.create_time.substring(0,$!log.create_time.indexOf('.'))</td>
      </tr>
      #end
    </tbody>
</table>
</div>
</div>
<!-- 表格 end -->
<!-- 分页 begin -->
<div class="row-fluid">
  #if($logList)
      #if($logList.size() > 0 )
          #parse("view/back/common/layout/pagination.htm")
      #end
  #end
</div>
<!-- 分页 end -->

<script>
$(document).ready(function(){
	
});
function subform(){
	$("#form1").submit();
}
function fycx(currPage){
	$("#currPage").val(currPage);
	$("#form1").submit();
}
</script>