<style>
.close{
   margin-left:10px;
}
</style>
   
  
			<div class="tabbable tabbable-custom tabbable-full-width" >
			                                
				<ul class="nav nav-tabs" id="main_tabs" >
					<li id="title_0" class="active">
					<a href="#tab_0" data-toggle="tab">主页</a>
					</li>					
				</ul>

				<div class="tab-content" id="main_tabdiv" style="height:870px;padding:0px;">
                
				 <div class="tab-pane active" id="tab_0" style="height:870px;">
				 <h1>欢迎使用</h1>
                 </div>
			    </div>
									  
			</div>
			

			

